body {
    background-color: white;
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  form {
    border: 2px solid powderblue;
    color: aliceblue;
    padding: 50px;
    margin: 50px;
    
  }
  button:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
    position: absolute;
  }
  table, th, td {
    border:1px solid black;
  }